[Desktop Entry]
Name=Drawboard PDF
Comment=Electron wrapper for Drawboard PDF software
Exec=/usr/lib/drawboard-pdf/drawboard-pdf
Icon=drawboard-pdf
Terminal=false
Type=Application
Categories=Graphics;Education;Utility;
